.btn {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.btn:hover:before, 
.btn:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.btn:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.btn:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.btn:hover {
  background: rgba(255, 255, 255, .2);
}
.App {
  text-align: center;
}

.Clock {
  position: absolute;
  top: 0px;
  left: 20px;
  margin-top: 20px;
  border: 5px solid white;
  padding: 20px;
}

.Clicker {
  position: absolute;
  top: 0px;
  right: 20px;
  margin-top: 20px;
  border: 5px solid white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.Post-br {
  border: 5px solid white;
  padding: 10px;
  margin-bottom: 20px;
  width: 500px;
  height: 250px;
}

.Post-img {
  width: 100px;
  height: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
